.menu {
  width: 100%;
  padding: 20px;
  background-color: black;
  justify-content: space-between;
}

.menuContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.menuItem {
  padding: 10px;
}
